@import '../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ubuntu';
  font-style: normal;
  height: 80px;
  color: #fff;
}

.header {
  background-color: $light-accent-bg;
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $gray-light;

    svg path {
      fill: $gray-light;
    }
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.links {
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 20px;
}

.button {
  width: auto;
  height: 40px;
  padding: 10px 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: $light-accent;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  transition: $transition;
}

.flex {
  display: flex;
  gap: 20px;
}

.link {
  &::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: '';
    background-color: #fff;
    width: 0px;

    height: 2px;
    transition: $transition;
  }
  position: relative;

  &:hover::after {
    width: 100%;
  }
}

body[data-theme='light'] {
  .button {
    background: $white;

    &:hover {
      background-color: $accent-light;
      color: $white;

      svg path {
        fill: $white;
      }
    }
  }
}

body[data-theme='dark'] {
  .button {
    background: $dark-block-bg-dark;

    &:hover {
      background-color: $accent-light;
      color: $dark-block-bg;

      svg path {
        fill: $dark-block-bg;
      }
    }
  }

  .header {
    background-color: $dark-accent-bg;
  }
}
