@import '../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  border: none;
  display: block;
  border-radius: 8px;
  height: 40px;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  cursor: pointer;
  transition: $transition;
}

body[data-theme='light'] {
  .button {
    background: $light-accent;

    &:hover {
      background: $light-accent-bg;
    }
  }
}

body[data-theme='dark'] {
  .button {
    background: $dark-accent;

    &:hover {
      background: $dark-accent-bg;
    }
  }
}
