@import './variables.scss';

.popup {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.button {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  height: 40px;
  padding: 11px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: $transition;
}

body[data-theme='light'] {
  .button {
    background: $accent-light;
    color: $white;

    &:hover {
      background-color: $light-accent;
    }
  }
  .active {
    background-color: $light-accent-bg;

    &:hover {
      background-color: $light-accent-bg;
    }
  }
}

body[data-theme='dark'] {
  .button {
    background: $accent-light;
    color: $white;

    &:hover {
      background-color: $dark-accent;
    }
  }

  .active {
    background-color: $dark-accent-bg;

    &:hover {
      background-color: $dark-accent-bg;
    }
  }
}
