.button {
  border: none;
  color: #fff;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  background-color: #813cab;
  margin-left: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  &:hover {
    background-color: #6f3195;
  }
}
