@import '../styles/variables.scss';

.password {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.button {
  border: 1px solid $gray;
  border-left: none;
  background: transparent;
  border-radius: 0 8px 8px 0;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  svg path {
    transition: $transition;
  }
}

.input {
  border: 1px solid $gray;
  border-right: none;
  width: 305px;
  height: 40px;
  padding: 11px 15px;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background: transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $gray;
  }
}

.error {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $accent-light;
  align-self: flex-start;
}

body[data-theme='light'] {
  .input {
    color: $light-accent;

    &:focus {
      border-color: $light-accent;

      & ~ .button {
        border-color: $light-accent;
      }
    }
  }

  .button:hover svg path {
    fill: $light-accent;
  }
}

body[data-theme='dark'] {
  .input {
    color: $dark-accent;

    &:focus {
      border-color: $dark-accent;

      & ~ .button {
        border-color: $dark-accent;
      }
    }
  }

  .button:hover svg path {
    fill: $dark-accent;
  }
}
