@import '../styles/variables.scss';

.top {
  margin-bottom: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.infoItem {
  height: 40px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
  }
}

.like {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  &:hover svg path {
    fill: $accent-light;
  }
}

.categories {
  display: flex;
  align-items: center;
  gap: 20px;
}

.category {
  height: 40px;
  padding: 0 15px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: $transition;
}

body[data-theme='light'] {
  .infoItem {
    color: $light-accent;
    background: $light-block-bg;
  }

  .like {
    background: $light-block-bg;
  }

  .category {
    color: $black;
    background: $light-block-bg;

    &:hover {
      background: $accent-light;
      color: $white;
    }

    &.active {
      background: $light-accent;
      color: $white;
    }
  }
}

body[data-theme='dark'] {
  .infoItem {
    color: $dark-accent;
    background: $dark-block-bg;
  }

  .like {
    background: $dark-block-bg;
  }

  .category {
    color: $gray;
    background: $dark-block-bg;

    &:hover {
      background: $accent-light;
      color: $white;
    }

    &.active {
      background: $dark-accent;
      color: $white;
    }
  }
}
