@import '../styles/variables.scss';

.input {
  outline: none;
  border: 1px solid $gray;
  width: 340px;
  height: 40px;
  padding: 11px 15px;
  border-radius: 8px;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $gray;
  }
}

.error {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9a6db6;
  align-self: flex-start;
}

body[data-theme='light'] {
  .input {
    color: $light-accent;

    &:focus {
      border-color: $light-accent;
    }
  }
}

body[data-theme='dark'] {
  .input {
    color: $dark-accent;

    &:focus {
      border-color: $dark-accent;
    }
  }
}
