.input {
  outline: none;
  border: 1px solid #bcbcbc;
  width: 340px;
  height: 40px;
  padding: 11px 15px;
  border-radius: 8px;
  color: #813cab;
  margin-bottom: 20px;

  &:focus {
    border-color: #813cab;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #bcbcbc;
  }
}

.error {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9a6db6;
  margin-bottom: 20px;
}
