// светлая тема
$light-accent: #813cab;
$light-accent-bg: #6f3195;
$light-main-bg: #eeeeee;
$light-block-bg: #ffffff;

// тёмная тема
$dark-accent: #9b4fc9;
$dark-accent-bg: #58207a;
$dark-main-bg: #303030;
$dark-block-bg: #3d3d3d;
$dark-block-bg-dark: #323232;

// не зависят от темы
$gray: #bcbcbc;
$white: #ffffff;
$gray-light: #e4e4e4;
$accent-light: #9a6db6;
$transition: all 0.2s ease-in-out;
